
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: orange;
}

input{
  display: block;
}

#usernamelabel {
  padding-top: 100px;
}

.chatroomheader {
    margin: auto;
    width: 50%;
    border: 10px solid blue;
    padding: 10px;
}

.chatroom-messages {
  height: 300px;
  width: 80%;
  overflow: scroll;
  background-color: white;
  border: 1px solid #777;
  padding: 10px 0;
  border-radius: 5px;
  li {
    margin: .5em 0;
  }
}

.typingmessage {
    padding-top: 50px;
    padding-bottom: 10px;

}

.usernamemessages{
  color: red;
}

.messagemessages {
  color: blue;
}

.time {
  color: gray;
}
